.btn {
    padding: 6px;
    margin: 5px 5px;
    border-radius: .25rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    color: #fff;
}

.btn-delete {
    border: 1px solid rgb(255, 56, 56);
    background-color: rgb(255, 56, 56);
}

.btn-delete:hover {
    background-color: rgb(194, 46, 46);
}

.btn-new {
    border: 1px solid #198754;
    background-color: #198754;
}

.btn-new:hover {
    background-color: rgb(46, 150, 46);
}

.btn-secondary {
    border: 1px solid #195487;
    background-color: #195487;
}

.btn-secondary:hover {
    background-color: #206aab;
}

.btn-secondary-revers {
    border: 1px solid transparent;
    color: #206aab;
    font-weight: bolder;
}

.btn-update {
    border: 1px solid #c9850e;
    background-color: #c9850e;
}

.btn-update:hover {
    background-color: #b5770e;
}